<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.CommentMapper">


    <insert id="addComment" parameterType="comment">
        insert into comment(resource_id, user_id, to_uid, content, support_number, time, isIllegal)
        values (#{resource_id}, #{user_id}, #{to_uid}, #{content}, #{support_number}, #{time}, #{isIllegal});
    </insert>

    <select id="getCommentAndUserInfo" parameterType="int" resultType="commentInfo">
        SELECT c.id id, c.user_id user_id, u.headIcon headIcon, u.name name, u2.name to_name, c.time time, c.content content, c.support_number support_number
        FROM comment c inner join user_info u
                        on c.user_id = u.user_id
                left join user_info u2
                        on c.to_uid = u2.user_id
        where c.resource_id = #{resource_id}
        order by c.support_number desc, c.time desc;
    </select>

    <select id="getAllCommentByUserId" parameterType="int" resultType="comment">
        SELECT c.*, r.origin_name resource_name, u.name to_name
        FROM comment c INNER JOIN resource r
                ON c.resource_id = r.id
            LEFT JOIN user_info u
                ON c.to_uid = u.user_id
        WHERE c.user_id = #{user_id}
        ORDER BY c.time DESC
        limit #{begin}, #{number};
    </select>

    <select id="getCommentNumbersByUserId" parameterType="int" resultType="int">
        SELECT count(*)
        FROM comment
        WHERE user_id = #{user_id};
    </select>

    <delete id="deleteCommentByList" parameterType="list">
        DELETE FROM comment
        WHERE id in
        <foreach collection="list" open="(" close=")" item="comment" separator=",">
            #{comment.id}
        </foreach>
    </delete>

    <select id="countResourceCommentNumber" parameterType="int" resultType="int">
        select count(*) from comment
        where resource_id = #{resource_id};
    </select>

    <update id="supportCommentById" parameterType="int">
        update comment
        <set>
            support_number = support_number + 1
        </set>
        where id = #{id};
    </update>

    <insert id="recordUserSupportComment" parameterType="int">
        insert into comment_support(comment_id, user_id)
        values (#{comment_id}, #{user_id});
    </insert>

    <select id="searchUserSupportComment" parameterType="int" resultType="commentSupport">
        select count(*) amount from comment_support
        where comment_id = #{comment_id} and user_id = #{user_id};
    </select>

    <select id="getUserSupportedCommentInList" resultType="int">
        <if test="comment_ids != null and comment_ids.size() > 0">
            select comment_id from comment_support
            where user_id = #{user_id}
            and comment_id in
            <foreach collection="comment_ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>;
        </if>

         <!-- comment_ids 为空时，返回空结果 -->
        <if test="comment_ids == null or comment_ids.size() == 0">
            select comment_id from comment_support
            where 1 = 0   <!-- 永远返回空 -->
        </if>
    </select>

    <delete id="deleteUserSupportComment">
        DELETE FROM comment_support
        WHERE comment_id = #{comment_id} AND user_id = #{user_id};
    </delete>


    <update id="deductCommentSupportNumber" parameterType="int">
        update comment
        <set>
            support_number = support_number - 1
        </set>
        where id = #{comment_id};
    </update>




</mapper>