<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.FocusMapper">


    <insert id="addFocus" parameterType="focus">
        insert into focus(id, user_id, focus_uid, time)
        values (#{id}, #{user_id}, #{focus_uid}, #{time});
    </insert>

    <select id="getFocusListById" parameterType="int" resultType="focus">
        SELECT * FROM focus
        WHERE user_id = #{user_id};
    </select>

    <delete id="deleteFocus" parameterType="int">
        DELETE FROM focus
        WHERE user_id = #{user_id}
                and focus_uid = #{focus_uid};
    </delete>

    <select id="getFocusPageListByUserId" parameterType="int" resultType="focus">
        SELECT f.*, u.name focusUserName, u.headIcon focusUserIcon
        FROM focus f LEFT JOIN user_info u
        ON f.focus_uid = u.user_id
        WHERE f.user_id = #{user_id}
        ORDER BY f.time DESC
        <if test="begin >= 0 and number> 0">
            limit #{begin}, #{number};
        </if>
    </select>
    <select id="countFocusByUserId" parameterType="int" resultType="int">
        SELECT count(*) FROM focus
        WHERE user_id = #{user_id};
    </select>


</mapper>