<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.IndexDataMapper">

    <!--开启缓存    采用LRU策略，一小时刷新一次缓存，大小1024个对象-->
    <cache eviction="LRU" flushInterval="3600000" size="1024"/>

    <select id="getSystemUserNumbers" resultType="int">
        select count(*) from user;
    </select>

    <select id="getSystemResourceNumbers" resultType="int">
        select count(*) from resource;
    </select>

    <select id="getResourceDownloadsList" resultType="int">
        select sum(downloads) from resource;
    </select>

    <select id="getResourceByDiscipline" parameterType="string" resultType="userResource" useCache="false">
        select * from resource
        where discipline = #{discipline}
        order by downloads desc
        limit 1;
    </select>

    <select id="getUploadMostUserInfoList" parameterType="int" resultType="uploadRankInfo">
        SELECT r.user_id user_id, count(r.id) resourceNumbers, u.name name, user.username username, u.headIcon headIcon
        FROM resource r, user_info u, user
        where r.user_id = u.user_id
                    and user.id = u.user_id
        group by r.user_id
        order by resourceNumbers desc
        limit #{number};
    </select>

    <select id="getUserAndResourceByDiscipline" resultMap="userAndResourceMap" parameterType="string">
        SELECT r.*, u.headIcon headIcon, u.name name, u.user_id user_id
        FROM resource r INNER JOIN user_info u
        ON r.user_id = u.user_id
        WHERE r.discipline = #{discipline}
        ORDER BY r.downloads DESC
        limit 1;
    </select>

    <resultMap id="userAndResourceMap" type="com.sharing.pojo.UserAndResource">
        <association property="userInfo" javaType="com.sharing.pojo.UserInfo">
            <result column="user_id" property="id"/>
            <result column="name" property="name"/>
            <result column="headIcon" property="headIcon"/>
        </association>
        <association property="resource" javaType="com.sharing.pojo.UserResource">
            <result column="id" property="id"/>
            <result column="user_id" property="user_id"/>
            <result column="origin_name" property="origin_name"/>
            <result column="type" property="type"/>
            <result column="size" property="size"/>
            <result column="disk_name" property="disk_name"/>
            <result column="discipline" property="discipline"/>
            <result column="upload_time" property="upload_time"/>
            <result column="downloads" property="downloads"/>
            <result column="enabled" property="enabled"/>
            <result column="isDeleted" property="isDeleted"/>
            <result column="md5" property="md5"/>
            <result column="description" property="description"/>
        </association>
    </resultMap>



</mapper>