<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.ResourceRecommendMapper">

    <select id="getResourceNumbers" resultType="int" parameterType="string">
        select count(*) from resource
        <where>
            state = '已通过审批'
            <if test="discipline != null">
                and discipline = #{discipline}
            </if>
            <if test="like != null">
                and origin_name like concat('%', #{like}, '%')
            </if>
        </where>
    </select>

    <select id="getDefaultResourceList" resultType="userresource" parameterType="int">
        select * from resource
        where state = '已通过审批'
        order by downloads desc
        limit #{begin}, #{number};
    </select>

    <select id="getUserResourceListByDiscipline" resultType="userresource">
        select * from resource
        where discipline = #{discipline}
            and state = '已通过审批'
        order by downloads desc
        limit #{begin}, #{number};
    </select>

    <select id="getResourceByLike" resultType="userresource">
        select * from resource
        where origin_name like concat('%', #{like}, '%')
            and state = '已通过审批'
        limit #{begin}, #{number};
    </select>

    <select id="getResourceByCondition" resultType="userresource">
        select * from resource
        <where>
            state = '已通过审批'
            <if test="discipline != null">
                and discipline = #{discipline}
            </if>
            <if test="like != null">
                and origin_name like concat('%', #{like}, '%')
            </if>
        </where>
        limit #{begin}, #{number};
    </select>


</mapper>