<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.ResourceDetailMapper">

    <select id="getResourceById" resultType="userResource" parameterType="int">
        select * from resource
        where id = #{id}
            AND state = '已通过审批';
    </select>

    <select id="getUserInfoById" resultType="userInfo" parameterType="int">
        select * from user, user_info
        where user_info.user_id = #{id}
                and user.id = user_info.user_id;
    </select>

    <select id="getFocusResourceByUserId" resultMap="userAndResourceMap" parameterType="int">
        SELECT r.*, u.name name, u.headIcon headIcon, u.user_id user_id
        FROM resource r INNER JOIN user_info u
        ON r.user_id = u.user_id
        WHERE r.user_id = #{user_id}
            AND r.state = '已通过审批'
        ORDER BY r.upload_time DESC
        LIMIT #{begin}, #{number};
    </select>

    <resultMap id="userAndResourceMap" type="com.sharing.pojo.UserAndResource">
        <association property="userInfo" javaType="com.sharing.pojo.UserInfo">
            <result column="user_id" property="id"/>
            <result column="name" property="name"/>
            <result column="headIcon" property="headIcon"/>
        </association>
        <association property="resource" javaType="com.sharing.pojo.UserResource">
            <result column="id" property="id"/>
            <result column="user_id" property="user_id"/>
            <result column="origin_name" property="origin_name"/>
            <result column="type" property="type"/>
            <result column="size" property="size"/>
            <result column="disk_name" property="disk_name"/>
            <result column="discipline" property="discipline"/>
            <result column="upload_time" property="upload_time"/>
            <result column="downloads" property="downloads"/>
            <result column="enabled" property="enabled"/>
            <result column="isDeleted" property="isDeleted"/>
            <result column="md5" property="md5"/>
            <result column="description" property="description"/>
            <result column="favorite_number" property="favorite_number"/>
        </association>
    </resultMap>


    <select id="countResourceNumberByUserId" parameterType="int" resultType="int">
        select count(*) from resource
        where user_id = #{user_id}
            AND state = '已通过审批';
    </select>

    <select id="getUserAndResourceByResourceId" parameterType="int" resultMap="userAndResourceMap">
        SELECT r.*, u.name name, u.headIcon headIcon, u.user_id user_id, (select COUNT(DISTINCT f.user_id)
	            from favourite f
	            where f.resource_id = #{resource_id}) favorite_number
        FROM resource r INNER JOIN user_info u
        ON r.user_id = u.user_id
        WHERE r.id = #{resource_id}
            AND r.state = '已通过审批';
    </select>

</mapper>