<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.UserResourceMapper">

    <select id="getResourceByMd5" resultType="UserResource" parameterType="string">
        select * from resource
        where md5 = #{md5};
    </select>

    <insert id="addUserResource" parameterType="UserResource">
        insert into resource(user_id, origin_name, type, size, disk_name, discipline, upload_time, favorite_number, enabled, isDeleted, md5)
        values (#{user_id}, #{origin_name}, #{type}, #{size}, #{disk_name}, #{discipline}, #{upload_time}, #{favorite_number}, #{enabled}, #{isDeleted}, #{md5});
    </insert>

</mapper>