<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharing.mapper.UserResourceMapper">

    <select id="getResourceByMd5" resultType="UserResource" parameterType="string">
        select * from resource
        where discipline = #{discipline}
                and md5 = #{md5};
    </select>

    <insert id="addUserResource" parameterType="UserResource">
        insert into resource(user_id, origin_name, type, size, disk_name, discipline, upload_time, downloads, enabled, isDeleted, md5, description, state)
        values (#{user_id}, #{origin_name}, #{type}, #{size}, #{disk_name}, #{discipline}, #{upload_time}, #{downloads}, #{enabled}, #{isDeleted}, #{md5}, #{description}, #{state});
    </insert>

    <select id="getResourceListByUserId" parameterType="int" resultType="userresource">
        select * from resource
        where isDeleted = 0 and user_id = #{user_id};
    </select>

    <select id="getUserResourceByPage" parameterType="int" resultType="userresource">
        SELECT * FROM resource
        where user_id = #{user_id}
                and isDeleted = 0
        order by upload_time desc
        limit #{begin}, #{size};
    </select>

    <select id="getResourceNumber" parameterType="int" resultType="int">
        SELECT count(id) FROM resource
        where user_id = #{user_id}
                and isDeleted = 0;
    </select>

    <select id="getResourceBySearch" resultType="userresource">
        SELECT * FROM resource
        where user_id = #{user_id}
                and isDeleted = 0
                and origin_name like concat('%',#{key},'%')
        order by upload_time desc
        limit #{begin}, #{size};
    </select>

    <update id="setDeleteResourceByList" parameterType="list">
        <foreach collection="list" open="" close="" item="resource" separator=";">
            update resource
            <set>
                isDeleted = 1
            </set>
            where id in
            <foreach collection="list" open="(" close=")" item="item" separator=",">
                #{item.id}
            </foreach>
        </foreach>
    </update>

    <insert id="insertDeletedResourceRecord" parameterType="DeletedResource">
        insert into resource_deleted(id, user_id, resource_id, time)
        values
        <foreach collection="deletedResourceList" open="" close="" item="item" separator=",">
            (#{item.id}, #{item.user_id}, #{item.resource_id}, #{item.time})
        </foreach>
    </insert>

    <update id="updateResourceInfo" parameterType="userresource">
        update resource
        set origin_name = #{origin_name},
            enabled = #{enabled},
            discipline = #{discipline},
            description = #{description}
        where id = #{id}
    </update>

    <update id="addResourceDownloads" parameterType="int">
        update resource set downloads = downloads + 1
            where id = #{id};
    </update>

    <select id="getResourceOriginFileName" parameterType="int" resultType="string">
        select origin_name from resource
        where id = #{id};
    </select>

    <select id="getResourceNumbersByCondition" resultType="int">
        select count(*) from resource
        where user_id = #{user_id}
                and origin_name like concat('%', #{like}, '%');
    </select>

    <select id="queryDeletedResourceRecordByUserId" parameterType="int" resultType="DeletedResource">
        SELECT rd.*, r.origin_name origin_name, r.size size, r.discipline discipline
        FROM resource_deleted rd INNER JOIN resource r
                    ON rd.resource_id = r.id
        WHERE rd.user_id = #{user_id}
        ORDER BY rd.time DESC
        LIMIT #{begin}, #{number};
    </select>

    <select id="countDeletedResourceRecordNumbers" resultType="int">
        select count(*) from resource_deleted
        where user_id = #{user_id};
    </select>

    <delete id="realDeleteResourceByList" parameterType="DeletedResource">
        delete from resource
        where id in
        <foreach collection="deletedResourceList" open="(" close=")" item="item" separator=",">
            #{item.resource_id}
        </foreach>
    </delete>

    <delete id="deleteResourceDeletedRecordByList" parameterType="DeletedResource">
        delete from resource_deleted
        where id in
        <foreach collection="deletedResourceList" open="(" close=")" item="item" separator=",">
            #{item.id}
        </foreach>
    </delete>

    <update id="reinstateResourceByList" parameterType="DeletedResource">
        update resource
        set isDeleted = 0
        where id in
        <foreach collection="reinstateResourceList" open="(" close=")" separator="," item="item">
            #{item.resource_id}
        </foreach>
    </update>

    <select id="queryUserResourceByIds" resultType="UserResource" parameterType="list">
        select * from resource
        where id in
        <foreach collection="resourceIdList" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>


</mapper>